{% extends 'main.html' %}


{% block filter %}

    <form action="{% url "home" %}" class="form">
        <input type="text" name="manufacturer" placeholder="производитель">
        <input type="text" name="model" placeholder="модель">
        <input type="number" name="year" placeholder="год выпуска">
        <select name="kpp">
            <option value="" selected>Выберите коробку передач</option>
            <option value="0">Механика</option>
            <option value="1">Автомат</option>
            <option value="2">Робот</option>
        </select>
        <input type="text" name="color" placeholder="цвет">
        <input type="submit" class="btn btn-primary">
    </form>
    <br>
    <ul>
        {% for car in cars %}
            <li> {{ car.manufacturer }}  {{ car.model }} {{ car.year }} {{ car.kpp }} {{ car.color }}  </li>

        {% endfor %}
    </ul>


{% endblock %}

