{% extends 'main.html' %}


{% block filter %}
    <h1>Фильтр </h1>
    <form action="{% url "home" %}">
        <div class="form-group">
            <label>
                <input type="text" name="manufacturer" placeholder="производитель">
            </label>

            <label>
                <input type="text" name="model" placeholder="модель">
            </label>
            <label>
                <input type="number" name="year" placeholder="год выпуска">
            </label>
            <label>
                <select name="kpp">
                    <option value="" selected>Выберите коробку передач</option>
                    <option value="0">Механика</option>
                    <option value="1">Автомат</option>
                    <option value="2">Робот</option>
                </select>
            </label>
            <label>
                <input type="text" name="color" placeholder="цвет">
            </label>

                <button type="submit" class="btn btn-success">Показать</button> </div>
    </form>
    <br>
    <ul>
        <h2> Машинки в базе: </h2>
        {% for car in cars %}
            <li> {{ car.manufacturer }} {{ car.model }} {{ car.year }} {{ car.kpp }} {{ car.color }}  </li>

        {% endfor %}
    </ul>


{% endblock %}

